---
/**
 * Provide the paths for the supported locales (site languages).
 */
export { getLocalePaths as getStaticPaths } from "lightnet/i18n";

import { getCollection } from "astro:content";
import { HeroSection, Page, Section } from "lightnet/components";
import heroImage from "../../assets/hero.jpg";

const count = (await getCollection("media")).length;
const formatter = new Intl.NumberFormat("en-US");
---

<Page>
  <HeroSection
    image={heroImage}
    title="BigNet"
    titleSize="xl"
    subtitleSize="lg"
    subtitle=`Just a Big LightNet Showcase`
  />
  <Section>
    <div class="flex flex-col items-center">
      <p class="text-center text-lg">
        This Lightnet demo site features a showcase of <strong
          >{formatter.format(count)}</strong
        > media items. <br />
        While the content is placeholder text, it demonstrates a fully populated
        library in action.
      </p>

      <a
        href=`/${Astro.currentLocale}/media`
        class="px-12 py-4 mt-16 bg-gray-900 text-gray-100 rounded-lg"
        >Try the Media Search</a
      >

      <p class="text-sm mt-16 text-gray-500">
        Images used on this site are provided from <a
          class="underline"
          href="https://unsplash.com"
          target="_blank">Unsplash</a
        >.
      </p>
    </div>
  </Section>
</Page>
