---
/**
 * Provide the paths for the supported locales (site languages).
 */
export { getLocalePaths as getStaticPaths } from "lightnet/i18n";

import { getCollection } from "astro:content";
import { Page, Section } from "lightnet/components";

const count = (await getCollection("media")).length;
---

{
  /* 
  Render a lightnet page. This will automatically include the
  page structure, header, menu system...
   */
}
<Page>
  <Section>
    <div class="flex flex-col items-center">
      <p>
        This LightNet instance showcases <strong>{count}</strong> media items in
        action.
      </p>

      <a
        href=`/${Astro.currentLocale}/media`
        class="px-12 py-4 mt-12 bg-gray-900 text-gray-100 rounded-lg"
        >Go to the search page</a
      >
    </div>
  </Section>
</Page>
